@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lora', serif;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .btn {
    @apply bg-purple-600 py-2 px-6 text-white rounded hover:bg-purple-800;
  }

  .input-field {
    @apply appearance-none relative block w-full px-3 py-2 border-b-2 border-gray-400 placeholder-gray-400 text-black focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
  }

  .table { @apply table-fixed w-full; }
  .table th { @apply pt-4 pb-4 text-white font-normal bg-purple-600; }
  .table td { @apply pt-3 pb-3 text-center; }
  .table tbody tr { @apply border-x-2 border-b-2; }

  .rounded-table th { @apply first-of-type:rounded-tl-md last-of-type:rounded-tr-md; }
  .rounded-table tr, .rounded-table td { @apply first-of-type:rounded-bl-md last-of-type:rounded-br-md; }
}

.test {
  @apply text-4xl text-red-600 m-5
}
